{% extends 'base.html' %} {% block content %}
<div class="h-100 container">
  <div class="h-100">
    <div class="h-100 d-flex justify-content-center align-items-center">
      <div>
        <h1 style="font-size: 72px;">Syntactic Parsing</h1>
        <form autocomplete="off" id="formPeriksa" action="{% url 'parse:validasi' %}" method="GET">
          <div class="col-12 autocomplete mt-3">
            <input
              class="form-control form-control-mb"
              type="text"
              id="keywords"
              name="keywords"
              placeholder="Check Disini"
              aria-label=".form-control-sm example"
            />
          </div>
          <div class="d-flex mt-3 justify-content-center">
            <button id="periksa" type="button" class="btn btn-outline-dark">
              Periksa Kalimat
            </button>
            <a href="{% url 'parse:validasi' %}" class="ml-3 px-4 btn btn-outline-dark">
              Cek Akurasi
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% block javascript %}
<script>
  const url = "{% url 'parse:getKalimat' %}";
</script>
{% endblock javascript %}

{% endblock %}

